h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  color: #fbfeff;
  text-shadow: 0 0 5px #119fb8, 0 0 10px #b4a5ff, 0 0 20px #fdffa5,
    0 0 30px #a5acff, 0 0 40px #a5a8ff;
}

body {
  padding: 20px;
  text-align: center;
  overflow: scroll;
}


div.container {
  overflow: hidden;
  width: 900px;
  height: 240px;
}
